html{
    background-color: black;
    text-align: center;
    font-family: Verdana
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

#second {
    font-weight: 300;
    font-size: 42px;
}

.downloadLink {
    color: aquamarine;
    font-size: 16px;
}

footer{
    text-align: right;
    font-weight: normal;
}